<div *ngIf="mostrarElemento">
  <br>
  <button (click)="requestGame()">Solicitar Partida</button>
  <br>
</div>
<section *ngIf="!mostrarElemento">
  <div class="tablero">
      <table width="500" height="500" border="1" cellspacing="2" cellpadding="2" bgcolor="#000000">
          <tr *ngFor="let row of tableroPadre; let i = index" align="center">
              <td width="50" height="50" *ngFor="let col of row; let j = index" (click)="onCellClicked(i,j) " bgcolor="#ffffff">
                  <span *ngIf="col"> {{col}} </span>
                  <span *ngIf="!col">  </span>
              </td>
          </tr>
      </table>
      <button class="botonAgregar" (click)="addRows()"> + </button>
  </div>
</section>
