section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(63,94,251);
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

span{
    font-weight: bold;
    user-select: none;
}

.botonAgregar{
    width: 40px;
    height: 40px;
    background: transparent;
    margin-left: 225px;
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid rgba(0,0,0);
    border-radius: 30px;
}